# Copie este arquivo para .env na raiz do repositório:
# /home/vitorpaulinog/Documentos/projects/PrestaPonto/.env
#
# Este .env é lido automaticamente pelo Docker Compose.

DB_CONTAINER_NAME=
API_CONTAINER_NAME=
APP_CONTAINER_NAME=

POSTGRES_DB=
DB_URL=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=

SPRING_PROFILES_ACTIVE=
API_PORT=

APP_PORT=

JWT_SECRET=