<nav class="bottom-nav" aria-label="Navegação principal">
  @for (item of items(); track item.id) {
    <a
      class="bottom-nav__item"
      [class.bottom-nav__item--active]="item.id === activeItem()"
      [routerLink]="item.route"
    >
      <span class="bottom-nav__icon" aria-hidden="true">
        @switch (item.icon) {
          @case ('home') {
            <svg viewBox="0 0 24 24"><path d="M4 11.5 12 5l8 6.5V20h-5.5v-5h-5v5H4z" /></svg>
          }
          @case ('explore') {
            <svg viewBox="0 0 24 24"><path d="m20 20-4.35-4.35M10.75 18a7.25 7.25 0 1 1 0-14.5 7.25 7.25 0 0 1 0 14.5Z" /></svg>
          }
          @case ('contracts') {
            <svg viewBox="0 0 24 24"><path d="M7 3h10v18l-3-2-2 2-2-2-3 2zM9 8h6M9 12h6M9 16h4" /></svg>
          }
          @case ('profile') {
            <svg viewBox="0 0 24 24"><path d="M12 12a4 4 0 1 0-4-4 4 4 0 0 0 4 4ZM4.5 19a7.5 7.5 0 0 1 15 0" /></svg>
          }
          @case ('catalog') {
            <svg viewBox="0 0 24 24"><path d="M4 6.5A2.5 2.5 0 0 1 6.5 4H20v14.5A1.5 1.5 0 0 0 18.5 17H6.5A2.5 2.5 0 0 1 4 14.5zm0 0A2.5 2.5 0 0 1 6.5 9H20" /></svg>
          }
          @case ('schedule') {
            <svg viewBox="0 0 24 24"><path d="M7 3v3M17 3v3M4 9h16M5 6h14a1 1 0 0 1 1 1v11a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V7a1 1 0 0 1 1-1Z" /></svg>
          }
          @case ('history') {
            <svg viewBox="0 0 24 24"><path d="M3 12a9 9 0 1 0 3-6.71M3 4v5h5M12 7v5l3 2" /></svg>
          }
          @case ('provider') {
            <svg viewBox="0 0 24 24"><path d="M4 19h16M7 19V9l5-4 5 4v10M10 12h4M10 15h4" /></svg>
          }
        }
      </span>
      <span>{{ item.label }}</span>
    </a>
  }
</nav>
