<app-auth-shell>
  <form class="auth-form" [formGroup]="form" (ngSubmit)="submit()">
    <app-text-field
      [control]="form.controls.email"
      icon="alternate_email"
      type="email"
      autocomplete="email"
      placeholder="Insira seu email"
      [errorMessages]="emailValidationMessages"
    />

    <app-text-field
      [control]="form.controls.password"
      icon="key_vertical"
      type="password"
      autocomplete="current-password"
      placeholder="Insira sua senha"
      [errorMessages]="passwordValidationMessages"
    />

    <button class="auth-form__link" type="button">Esqueceu Sua Senha?</button>
    <app-button [disabled]="loading()">
      Login
    </app-button>
  </form>
</app-auth-shell>
