.form-submit {
  align-self: center;
  width: 100%;
  min-height: 3rem;
  border: 0;
  border-radius: var(--radius-sm);
  padding: var(--spacing-sm);
  color: var(--color-white);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  background: var(--color-primary-02);
}

.form-submit:focus-visible {
  outline: none;
  box-shadow: var(--shadow-focus-ring);
}
