<label class="auth-field">
  <span class="auth-field__icon" aria-hidden="true">
    @switch (icon()) {
      @case ('email') {
        <svg viewBox="0 0 24 24" focusable="false">
          <path
            d="M12 5.5A6.5 6.5 0 1 0 18.5 12v1.25a1.75 1.75 0 1 0 3.5 0V12a10 10 0 1 1-3.04-7.17"
          />
          <path d="M15.5 12A3.5 3.5 0 1 1 12 8.5a3.5 3.5 0 0 1 3.5 3.5Z" />
        </svg>
      }
      @case ('password') {
        <svg viewBox="0 0 24 24" focusable="false">
          <path
            d="M14 3a5 5 0 0 0-5 5v2.18A3 3 0 0 0 7 13v5a3 3 0 0 0 3 3h1v-4.6l2-1.4v-2l-2-1.4V8a3 3 0 1 1 6 0v1h2V8a5 5 0 0 0-5-5Z"
          />
          <path d="M15 15a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" />
        </svg>
      }
      @case ('person') {
        <svg viewBox="0 0 24 24" focusable="false">
          <path d="M12 12a4 4 0 1 0-4-4 4 4 0 0 0 4 4Z" />
          <path d="M4 19a8 8 0 0 1 16 0" />
        </svg>
      }
    }
  </span>

  <input
    class="auth-field__input"
    [formControl]="control()"
    [type]="type()"
    [placeholder]="placeholder()"
    [autocomplete]="autocomplete()"
  />
</label>
